<br>
<section id="scout-profile" class="scout-profile-section fpan-panel" style="padding: 40px;">

    <h3>
    {% if user.first_name %}
    {{ user.first_name }} {{ user.scout.middle_initial|upper }}. {{ user.last_name }}
    {% else %}
    {{ user.username }}
    {% endif %}
    </h3>

    <h5>
    At any time you may update your Scout Profile below, or <a class="a-{{user_type}}" href="{% url 'auth' login_type='password' %}">change your password</a>.
    </h5>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include "fpan/forms/_scout-profile.htm" %}

</section>
