{% extends "index.htm" %}

{% load staticfiles %}

{% block content %}

<section class="scout-profile-section" style="padding-top: 100px;">

<div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3><strong>{{ user.first_name }} {{ user.scout.middle_initial }} {{ user.last_name }}</strong></h3>

    {% include "fpan/forms/_scout-profile.htm" %}
    
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in scout_profile %}

        <div class="form-group">

            <div class="col-sm-8">

                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color:red" > {{ error }} </span>
                    {% endfor %}
                {% endif %}

            </div>

        </div>        
        
        {% endfor %}

    </form>

</div>

</section>

{% endblock %}

<!-- fields = ('street_address', 'city', 'state', 'zip_code', 'phone', 'background', 'relevant_experience', 'interest_reason', 'site_interest_type', 'region_choices', 'ethics_agreement') -->