{% extends "fpan_base.htm" %}

{% load staticfiles %}
{% load template_tags %}
{% load i18n %}

{% block page_title %}
FPAN - Admin Dashboard
{% endblock %}

{% block content %}

<section class="about-section section-first" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 fpan-panel" style="padding-top:35px;padding-bottom:35px;">
                <div class="title-v1">
                    <h1 style="">{% trans "HMS Admin Dashboard" %}</h1>
                </div>
                <div class="col-xs-12">
                    <h2>{% trans "Scout Summary" %}</h2>
                    <h4>Number of Scouts = {{ scouts|length }} &nbsp;&rarr;&nbsp; <a href="{% url 'scout_list_download' %}">click to download full list</a></h4>
                    <ul class="fpan-panel" style="max-height:200px;overflow-y:auto; padding:5px;background:url({% static 'img/fpan/ricepaper.png' %});">
                        {% for scout in scouts %}
                        <li><strong>{{scout.username}}</strong> | <em>regions:</em>
                            {% for region in scout.region_choices %}
                                {{ region }}{% if not forloop.last %},{% endif %}
                            {% endfor %} | <em>interests:</em>
                            {% for interest in scout.site_interest_type %}
                                {{ interest }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}