{% extends "base-fpan.htm" %}

{% load staticfiles %}
{% load template_tags %}
{% load i18n %}

State Land Management - Home

{% block content %}

    <!--  Intro Section -->
    <!--  End Intro Section -->

    <!--  About Section -->
    <section class="about-section section-first" style="padding-top: 0px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 title-v1 fpan-panel-{{user_type}}">
                    <div class="title-v1">
                        <div class="">
                            <div class="col-md-4">
                                <img src="{% static 'img/state/DHR transparent - NO WWW.png' %}" alt="Logo" style="width:250px;margin-top:40px">
                            </div>
                            <div class="col-md-8">
                                <h1>{% trans "ARCHAEOLOGICAL AND HISTORIC SITE CONDITION ASSESSMENTS" %}</h1>
                                <p>{% trans "The purpose of condition assessments or “annual monitoring” of archaeological sites is to evaluate threats on a regular basis. The assessments submitted through this system populate a database which the Division of Historical Resources uses to track site condition and provide feedback for Land Management Reviews, per 259, Florida Statutes." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>

    <section id="" class="scout-profile-section fpan-panel-{{user_type}}" style="padding: 25px;">
        <div class="row">
            <div class="col-xs-12">
                <h3>{% trans "Welcome," %} {{user.username}}.</h3>
                {% if request.user.is_superuser %}
                  <p>{% trans "As an admin, you have <strong>full access</strong> to the database." %}</p>
                {% elif request.user|has_group:"StatePark" %}
                  <p>{% trans "As a State Park user, you have access to all Archaeological Sites within the State Park(s) you manage." %}</p>
                {% elif request.user|has_group:"FWC" %}
                  <p>{% trans "As a Fish and Wildlife Commission user, you have access to all Archaeological Sites within the WMA/WEA(s) you manage." %}</p>
                {% elif request.user|has_group:"FL_BAR" %}
                  <p>{% trans "As the Florida Bureau of Archaeological Research you have access to <strong>all</strong> Archaeological Sites." %}</p>
                {% elif request.user|has_group:"FMSF" %}
                  <p>{% trans "As a Florida Master Site File user you have access to <strong>all</strong> Archaeological Sites." %}</p>
                {% elif request.user|has_group:"FL_Forestry" %}
                  <p>{% trans "As a Forest Service user, you have access to all Archaeological Sites within the State Forest(s) you manage." %}</p>
                {% elif request.user|has_group:"FL_AquaticPreserve" %}
                  <p>{% trans "As a Florida Aquatic Preserve user you have access to <strong>all</strong> Archaeological Sites on any Aquatic Preserves." %}</p>
                {% elif request.user|has_group:"FL_WMD" %}
                  <p>{% trans "As a Water Management District user, you have access to all Archaeological Sites within the Conservation Area(s) you manage." %}</p>
                {% endif %}
                <p><a class="a-{{user_type}}" href="{% url 'password_reset' %}">change my password</a></p>
            </div>
        </div>
    </section>

{% endblock %}
