{% extends "base-fpan.htm" %}

{% load staticfiles %}
{% load template_tags %}
{% load i18n %}

{% block page_title %}
HMS - Home
{% endblock %}

{% block content %}

<section id="scout-profile" class="scout-profile-section fpan-panel-{{user_type}}" style="padding: 40px;">

    <h3>
    {% if user.first_name %}
    {{ user.first_name }} {{ user.scout.middle_initial|upper }}. {{ user.last_name }}
    {% else %}
    {{ user.username }}
    {% endif %}
    </h3>
    <h5>
    You can use the form below to make changes to your Scout Profile at any time, including updates to your region(s) and interests.
    </h5>
    <h5>
        <a href="{% url 'user_profile_manager' %}">&larr; Back to Basic Profile</a>
    </h5>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include "fpan/forms/_scout-profile.htm" %}

</section>

{% endblock %}