{% autoescape off %}
<h3>Hello {{ user.username }}!</h3><br>
<br>
Welcome to the Heritage Monitoring Scouts, we're excited to have you! To confirm your account, please follow the activation link below.<br>
<br>
Be ready to login with your username ({{ user.username }}) and password. Once logged in, please fill out your user profile so we can learn a bit more about you. We won't be able to assign Archaeological Sites to you until we know what regions you are interested in!<br>
<br>
<a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}">activation link</a><br>
<br>
Every time you visit the database in the future, be sure to login through the "Heritage Monitoring Scout Login" found on the <a href="https://{{domain}}">home page</a>.<br>
<br>
Thanks and welcome aboard!
{% endautoescape %}
