{% autoescape off %}
Hello {{ user.username }}!

Welcome to the Heritage Monitoring Scouts, we're excited to have you! Your new HMS Scout ID is {{ user.username }}.

To activate your account and verify your email address, please click this link: {{ baseurl }}{% url 'activate_page' uidb64=uid token=token %}

*If the above link is broken or expired, please email hmsflorida@fpan.us for assistance.

We will contact you soon to provide next steps and more details about the program.

Thanks for Signing Up and Welcome Aboard!
{% endautoescape %}
