{% extends "base-fpan.htm" %}

{% load staticfiles %}
{% load template_tags %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 fpan-panel-{{user_type}}" style="padding:25px;">
                <h4>Please check your e-mail and click the activation link.</h4>
                <h5>If you don't see an e-mail from us, <strong>be sure to check your Spam folder</strong>.</h5>
            </div>
        </div>
    </div>

{% endblock %}
