{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<section class="about-section section-first" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 title-v1 fpan-panel">
                <div class="about-image title-v1">
                    <div class="">
                        <div class="col-md-4">
                            <img src="{% static 'img/fpan/HMS_website_small.png' %}" alt="Logo">
                        </div>
                        <div class="col-md-8">
                            <h1>{% trans "HMS Florida" %}</h1>
                            <p>{% trans "Heritage Monitoring Scouts (HMS Florida) is a public engagement program focused on tracking changes to archaeological sites at risk, particularly those impacted by climate change in the form of erosion and sea level rise." %}</p>
                            <p>{% trans "If you are interested in becoming a Heritage Monitoring Scout, " %}<a href='{% url "fpan_home" %}#scout-signup'>{% trans "please signup" %}</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>