<section id="contact" class="contacts-section">
    <div class="copyright-section">
        <p>{{copyright_year}} &copy; {{copyright_text}} </p>
        <ul class="social-icons">
            <li>
                <a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a>
            </li>
            <li>
                <a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a>
            </li>
            <li>
                <a href="#" data-original-title="Google Plus" class="social_googleplus rounded-x"></a>
            </li>
            <li>
                <a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a>
            </li>
            <li>
                <a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a>
            </li>
        </ul>
        <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
    </div>
</section>