<section id="footer" class="footer">
    <div class="row" style="margin: 10px 0px;">
        <div class="col-xs-12">
            <span>&copy; 2018 | powered by <a href="http://archesproject.org">Arches v4</a> | source code &mdash; <a href="https://github.com/legiongis/arches/tree/fpan_master">arches</a>, <a href="https://github.com/legiongis/fpan">fpan</a>, <a href="https://github.com/legiongis/fpan-data">fpan-data</a> | admin contact &mdash; <a id="email-contact"></a></span>
        </div>
    </div>
</section>
<script>
    var c1 = "admin";
    var c2 = "@";
    var c3 = "legiongis.com";
    var email = c1+c2+c3
    $(document).ready(function() {
        document.getElementById('email-contact').textContent = email;
        document.getElementById('email-contact').href = "mailto:"+email;
    });
</script>