{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<section id="news" class="news-section bg-grey" >
    <div class="container content-lg">
        <div class="title-v1">
            <h2>{% trans "Latest News" %}</h2>
            <p></p>
        </div>

        <div class="row news-v1 text-center">
            Add your content here
        </div>

        <!-- <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in">
                    <img class="img-responsive" src="{% static 'img/landing/img1.jpg' %}" alt="">
                    <h3><a href="#">At vero eos et accusamus</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                    <ul class="list-inline news-v1-info">
                        <li><span>By</span> <a href="#">Arches Project Team</a></li>
                        <li>|</li>
                        <li><i class="fa fa-clock-o"></i> March 02, 2016</li>
                        <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in">
                    <img class="img-responsive" src="{% static 'img/landing/img4.jpg' %}" alt="">
                    <h3><a href="#">Voluptatum deleniti atque</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                    <ul class="list-inline news-v1-info">
                        <li><span>By</span> <a href="#">Catherine Patterson</a></li>
                        <li>|</li>
                        <li><i class="fa fa-clock-o"></i> July 02, 2015</li>
                        <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in">
                    <img class="img-responsive" src="{% static 'img/landing/img3.jpg' %}" alt="">
                    <h3><a href="#">Accusamus et iusto odio dignissimos</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                    <ul class="list-inline news-v1-info">
                        <li><span>By</span> <a href="#">Karen Trentleman</a></li>
                        <li>|</li>
                        <li><i class="fa fa-clock-o"></i> July 02, 2015</li>
                        <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>