{% load template_tags %}
{% load i18n %}
<section id="services">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>{% trans "Capabilities" %}</h2>
            <p>{% trans "Arches can <strong> streamline your work</strong> so that you can focus on managing your assets.<br> Build interoperable, shareable, and secure <strong> cultural heritage data repositories</strong> as a natural part of your workflow." %}</p>
        </div>

        <div class="row service-box-v1">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">{% trans "Manage Heritage Inventories" %}</h2>
                    <p></p>
                    <ul class="list-unstyled">
                        <li>{% trans "Heritage Objects" %}</li>
                        <li>{% trans "Research Activities" %}</li>
                        <li>{% trans "People and Orgnizations" %}</li>
                        <li>{% trans "Important Areas" %}</li>
                        <li>{% trans "Documents and Images" %}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
                    <h2 class="heading-md">{% trans "Research Data" %}</h2>
                    <p></p>
                    <ul class="list-unstyled">
                        <li>{% trans "Manage Digital Datasets" %}</li>
                        <li>{% trans "Visualize Spectra" %}</li>
                        <li>{% trans "Easy Dataset Import" %}</li>
                        <li>{% trans "View & Manage Data" %}</li>
                        <li>{% trans "Easy Access" %}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">{% trans "Interpretations & Results" %}</h2>
                    <p></p>
                    <ul class="list-unstyled">
                        <li>{% trans "Manage Data Interpretations" %}</li>
                        <li>{% trans "Share Research Results" %}</li>
                        <li>{% trans "Tie Results to Iconography" %}</li>
                        <li>{% trans "Centralize Results" %}</li>
                        <li>{% trans "Publish Results" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>