{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<section id="" class="scout-profile-section fpan-panel" style="padding: 25px;">
    <div class="row">
        <div class="col-xs-12">
            <h3>{% trans "Welcome," %} {{user.username}}.</h3>
            {% if request.user.is_superuser %}
            <p>{% trans "As an admin, you have <strong>full access</strong> to the database." %}</p>
            {% elif request.user|has_group:"StatePark" %}
            <p>{% trans "As a State Park user, you have access to <strong>all</strong> Archaeological Sites within the State Park(s) you manage." %}</p>
            {% elif request.user|has_group:"FWC" %}
            <p>{% trans "As a Fish and Wildlife Commission user, you have access to <strong>all</strong> Archaeological Sites within the WMA/WEA(s) you manage." %}</p>
            {% elif request.user|has_group:"FL_BAR" %}
            <p>{% trans "As the Florida Bureau of Archaeological Research you have access to <strong>all</strong> Archaeological Sites." %}</p>
            {% elif request.user|has_group:"FMSF" %}
            <p>{% trans "As a Florida Master Site File user you have access to <strong>all</strong> Archaeological Sites." %}</p>
            {% elif request.user|has_group:"FL_Forestry" %}
            <p>{% trans "As a Forest Service user, you have access to <strong>all</strong> Archaeological Sites within the State Forest(s) you manage." %}</p>
            {% elif request.user|has_group:"FL_AquaticPreserve" %}
            <p>{% trans "As a Florida Aquatic Preserve user you have access to <strong>all</strong> Archaeological Sites on any Aquatic Preserves." %}</p>
            {% elif request.user|has_group:"FL_WMD" %}
            <p>{% trans "As a Water Management District user, you have access to <strong>all</strong> Archaeological Sites within the Conservation Area(s) you manage." %}</p>
            {% endif %}
            <p><a href="{% url 'auth' login_type='password' %}">change my password</a></p>
        </div>
    </div>
</section>