{% load staticfiles %}
<section id="contact" class="contacts-section">
    <div class="copyright-section">
        <ul class="state-logos-list" style="">
            <li>
                <img src="{% static 'img/state/FL-DEP-LOGO-color.png' %}" class="state-logo-img">
            </li>
            <li>
                <img src="{% static 'img/state/fl_forest_service logo sm.png' %}" class="state-logo-img">
            </li>
            <li>
                <img src="{% static 'img/state/fwc logo sm.png' %}" class="state-logo-img">
            </li>
        </ul>
    </div>
</section>
