{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<br>
<section class="about-section section-first" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 fpan-panel">
                <div class="col-xs-12">
                    <h2>While in development...</h2>
                    <p>The following test accounts are available to anyone who wants to try things out. Login with username/password as shown below.</p>
                    <h3>Example Heritage Monitoring Scouts (w/ region preferences)</h3>
                    <p>Scouts only have access to Archaeological Sites to which they have been assigned. Assignment of a site is done by an admin, and is limited to Scouts who have expressed a preference for the region in which the site is located.</p>
                    <ul>
                        <li>cjmorton/chet ("Central","Northeast","East Central")</li>
                        <li>fahardy/frank ("Southeast","East Central")</li>
                        <li>jfhardy/joe ("Northwest","Northeast","North Central")</li>
                        <li>bahooper/biff ("Southwest","Southeast","East Central")</li>
                    </ul>
                    <h3>Example State Land Manager Users (w/ agency)</h3>
                    <p>State Land Managers have different levels of access to Archaeological Sites based on their agency.</p>
                    <ul>
                        <li>FMSF/FSMF (Florida Master Site File)</li>
                        <ul>
                            <li>Access to all Archaeological Sites.</li>
                        </ul>
                        <li>FWC/FWC (Fish and Wildlife Conservation Commission)</li>
                        <ul>
                            <li>Access to Archaeological Sites on any Fish and Wildlife land.</li>
                        </ul>
                        <li>FL_BAR/FL_BAR (Florida Bureau of Archaeological Research)</li>
                        <ul>
                            <li>Access to all Archaeological Sites.</li>
                        </ul>
                        <li>TomokaSP/TomokaSP (State Park)</li>
                        <ul>
                            <li>Access to Archaeological Sites in all State Parks.</li>
                        </ul>
                        <li>JenningsSF/JenningsSF (State Forest)</li>
                        <ul>
                            <li>Access to Archaeological Sites in all State Forests.</li>
                        </ul>
                        <li>MarshViewPreserve/MarshViewPreserve (FL Aquatic Preserve)</li>
                        <ul>
                            <li>Access to Archaeological Sites in all Aquatic Preserves.</li>
                        </ul>
                    </ul>
                    <h3>Admin User</h3>
                    <p>The admin has access to everything.</p>
                    <ul>
                        <li>admin/admin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>