{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<section class="about-section section-first" style="padding-top: 0px;">
    <div class="row">
        <div class="col-md-5 hidden-xs hidden-sm">
            <div class="col-xs-12 fpan-panel-{{user_type}}" style="min-height: 420px;">
                <div class="title-v1">
                    <div class="col-md-12" style="padding-bottom:15px;">
                        <h1><a class="a-{{user_type}}" href="http://fpan.us/index.php"><img src="{% static 'img/fpan/FPAN_logo_white.png' %}" style="width: 100%;max-width: 300px;"></a></h1>
                    </div>
                    <div class="col-md-12">
                        <p>{% trans "The Florida Public Archaeology Network's mission is to promote and facilitate the conservation, study and public understanding of Florida's archaeological heritage through regional centers throughout the state. To learn more about FPAN, visit <a class='a-{{user_type}}' href='http://fpan.us'>fpan.us</a>." %}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="col-xs-12 fpan-panel-{{user_type}}" style="min-height: 420px;">
                <div class="title-v1">
                    <div class="col-xs-12" style="padding-top:45px">
                        <h2>Sign in to Begin Monitoring</h2>
                        <!-- <h4>To become a Heritage Monitoring Scout, signup below!</h4> -->
                    </div>
                    <div class="col-xs-12 col-sm-5" style="margin-top:20px;">
                        <p><em>
                        <a id="auth-link" class="a-{{user_type}}" href="{% url 'auth' login_type='hms' %}" style="color:#2d8b80;font-size:14pt;">
                            <img style="width:181px;" src="{% static 'img/fpan/HMS_website_small.png' %}" alt="Logo"><br>
                            Scout Portal
                        </a>
                        </em></p>
                    </div>
                    <div class="col-xs-12 col-sm-7" style="margin-top:20px;">
                        <p><em>
                        <a id="auth-link" class="a-{{user_type}}" href="{% url 'auth' login_type='state' %}" style="color:#273675;font-size:14pt;">
                            <img style="width:224px;margin-top: 25px;" src="{% static 'img/state/DHR transparent - NO url.png' %}" alt="Logo"><br>
                            State Land Manager Portal
                        </a>
                        </em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
