body, .copyright-section {
    background: url('../img/fpan/ricepaper-hms.png');
}

#mainnav-container, #mainnav {
    background: #499990;
    background: url('../img/fpan/ricepaper-hms.png');
    color:#E7E7E8;
}

.fpan-panel {
    border-top: solid 8px #F26422;
}