body, .copyright-section {
    background: url('../img/fpan/ricepaper-hms.png');
}

.brand-title, #mainnav-container, #mainnav, #mainnav-menu>.active, .menu-popover .sub-menu ul  {
    background: #5ec5b9;
    /* background: url('../img/fpan/ricepaper-hms.png'); */
}

#mainnav-menu>li {
    background-color:#5ec5b9 !important;
}

#mainnav-menu>li>a {
    background-color:#5ec5b9 !important;
}

#mainnav-menu>li>a:hover, .link-submenu-item a:hover {
    background-color:#F26422 !important;
}

.popover-title {
    background-color:#F26422 !important;
}

.single-content {
    background-color:#F26422 !important;
}

.hover {
    background-color:#F26422;
}

.fpan-panel {
    border-top: solid 8px #F26422;
}

.btn-success {
    background-color:#f26422;
    border:none;
}

a {
    color: #2d8b80;
}