body, .copyright-section {
    background: url('../img/fpan/ricepaper-hms.png');
}
a, li a, .search-candidate-title, .search-candidate-link, .btn-link {
    color: #F26422;
}
a:hover, li a:hover, .btn-link:hover {
    color: #5ec5b9;
}
#footer a {
    color: white;
}
#footer a:hover {
    color: white;
}
.brand-title, #mainnav-container, #mainnav, #mainnav-menu>.active, .menu-popover .sub-menu ul  {
    background: #5ec5b9;
    /* background: url('../img/fpan/ricepaper-hms.png'); */
}

#mainnav-menu>li {
    background-color:#5ec5b9 !important;
}

#mainnav-menu>li>a {
    background-color:#5ec5b9 !important;
    color: white !important;
}

#mainnav-menu>li>a:hover, .link-submenu-item a:hover {
    background-color:#F26422 !important;
    color: white !important;
    text-decoration: none;
}

.popover-title {
    background-color:#F26422 !important;
}

.single-content {
    background-color:#F26422 !important;
}

.hover {
    background-color:#F26422;
}

.fpan-panel {
    border-top: solid 8px #F26422;
}
.btn-success {
    background-color:#f26422;
    border:none;
}
.scout-panel {
    border: 1px solid #F26422;
    background-color: rgba(255, 255, 255, 0.4);
}
.scout-panel .panel-heading {
    background-color: #F26422;
}