:root {
    --admin-primary-nav-color: #30111b;
    --admin-active-nav-color: #5D2134;
    --scout-primary-nav-color: #46a297;
    --scout-active-nav-color: #c45d2e;
    --landmanager-primary-nav-color: #273675;
    --landmanager-active-nav-color: #0051a2;
}


@font-face {
  font-family: 'Helsing-Regular';
  src: url("../fonts/Helsing.otf");
}

body, body.body-anonymous, body.body-admin, .profile-sections-admin {
    font-family: 'Kreon',sans-serif;
    background: url('../img/fpan/ricepaper.png');
    font-size: 16px;
    line-height: 1.65;
}
body.body-scout, body.body-hms, body.body-hms, .copyright-section-scout, .profile-sections-scout {
    background: url('../img/fpan/ricepaper-hms.png');
}
body.body-landmanager, body.body-state, body.body-state, .copyright-section-landmanager, .profile-sections-landmanager {
    background: url('../img/fpan/ricepaper-state.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ropa Sans',sans-serif !important;
    line-height: 1.15;
}

h1, .card-component-panel h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2, .card-component-panel h2 {font-size: 2.441em;}

h3, .card-component-panel h3 {font-size: 1.953em;}

h4, .card-component-panel h4 {font-size: 1.563em;}

h5, .card-component-panel h5 {font-size: 1.25em; font-weight: 400;}

small, .text_small, .nano>.nano-content, .search-type-btn {font-size: 0.8em !important;}

.arches-menu-icon {
    color: white;
}

a, li a, .search-candidate-title, .search-candidate-link, .btn-link, a.a-anonymous, li a.a-anonymous, .search-candidate-title-anonymous, .search-candidate-link-anonymous, .btn-link-anonymous, a.a-admin, li a.a-admin, .search-candidate-title-admin, .search-candidate-link-admin, .btn-link-admin {
    color: #007fff;
    text-decoration: none;
}
.a-scout, li .a-scout, body.body-hms .a-anonymous, .search-candidate-title-scout, .search-candidate-link-scout, .btn-link-scout {
    color: #F26422;
}
.a-landmanager, li .a-landmanager, body.body-state .a-anonymous, .search-candidate-title-landmanager, .search-candidate-link-landmanager, .btn-link-landmanager {
    color: #273675;
}
a:hover, li a:hover, .btn-link:hover, a.a-anonymous:hover, li a.a-anonymous:hover, .btn-link-anonymous:hover, a.a-admin:hover, li a.a-admin:hover, .btn-link-admin:hover {
    color: #007fff;
    text-decoration: underline;
}
a.a-scout:hover, li a.ascout:hover, .btn-link-scout:hover {
    color: #F26422;
}
a.a-landmanager:hover, li a.landmanager:hover, .btn-link-landmanager:hover {
    color: #273675;
}
.body-scout .btn-success, .body-hms .btn-success {
    background-color:#f26422;
    border:none;
}
.body-landmanager .btn-success, .body-state .btn-success {
    background-color:#273675;
    border:none;
}
.body-scout .btn-success:hover, .body-hms .btn-success:hover, .body-landmanager .btn-success:hover, .body-state .btn-success:hover  {
    background-color: #449d44;
}

/* set all style for all sidebar text */
.sidenav-brand {
    border-bottom: none;
}

.sidenav,
.sidenav a,
.sidenav .list-header {
    color: white;
    font-weight: 400 !important;
}

.sidenav-menu a:hover,
.link-submenu-item a:hover {
    box-shadow: none !important;
    text-decoration: none;
}

.sidenav-sm .sidenav-menu li:hover .menu-title {
    height: 45px;
    margin: -33px 30px;
}

.sidenav-sm .sidenav-menu .menu-title:hover {
    background-color: var(--scout-active-nav-color);
}

.sidenav-sm .sidenav-menu li:hover > ul {
    margin: -45px 50px;
}

.sidenav-sm .sidenav-menu li:hover > ul > li {
    height: unset;
}

.sidenav-sm .sidenav-menu a {
    height: unset;
}

.sidenav-sm .sidenav-menu li:not(.list-divider-dark) {
    height: unset;
}

/* set conditional background for sidebar elements */

/* admin sidebar */
.sidenav-admin .menu-title:hover,
.sidenav-menu-admin a:hover,
.sidenav-menu-landmanager li.active-sub > a,
.link-submenu-item-admin a:hover {
    background-color:var(--admin-active-nav-color) !important;
}

.sidenav-admin,
.sidenav-admin li,
.sidenav-admin a,
.sidenav-admin ul,
.sidenav-menu-admin,
.sidenav-menu-admin li:hover,
.sidenav-menu-admin li:hover .menu-title {
    background: var(--admin-primary-nav-color) !important;
}

/* anonymous sidebar, use the same colors as admin*/

.sidenav-anonymous .menu-title:hover,
.sidenav-menu-anonymous a:hover,
.sidenav-menu-landmanager li.active-sub > a,
.link-submenu-item-anonymous a:hover {
    background-color:var(--admin-active-nav-color) !important;
}

.sidenav-anonymous,
.sidenav-anonymous li,
.sidenav-anonymous a,
.sidenav-anonymous ul,
.sidenav-menu-anonymous,
.sidenav-menu-anonymous li:hover,
.sidenav-menu-anonymous li:hover .menu-title {
    background: var(--admin-primary-nav-color) !important;
}

/* scout sidebar */

.sidenav-scout li.active-sub a,
.sidenav-scout .menu-title:hover,
.sidenav-menu-scout a:hover,
.sidenav-menu-landmanager li.active-sub > a,
.link-submenu-item-scout a:hover {
    background-color:var(--scout-active-nav-color) !important;
}

.sidenav-scout,
.sidenav-scout li,
.sidenav-scout a,
.sidenav-scout ul,
.sidenav-menu-scout,
.sidenav-menu-scout li:hover,
.sidenav-menu-scout li:hover .menu-title {
    background: var(--scout-primary-nav-color) !important;
}

/* landmanager sidebar*/

.sidenav-landmanager .menu-title:hover,
.sidenav-menu-landmanager a:hover,
.sidenav-menu-landmanager li.active-sub > a,
.link-submenu-item-landmanager a:hover {
    background-color:var(--landmanager-active-nav-color) !important;
}

.sidenav-landmanager,
.sidenav-landmanager li,
.sidenav-landmanager a,
.sidenav-landmanager ul,
.sidenav-menu-landmanager,
.sidenav-menu-landmanager li:hover,
.sidenav-menu-landmanager li:hover .menu-title {
    background: var(--landmanager-primary-nav-color) !important;
}

.admin-bg-primary {
    background-color: var(--admin-primary-nav-color) !important;
}
.admin-bg-active {
    background-color: var(--admin-active-nav-color) !important;
}
.admin-bg-hover:hover {
    background-color: var(--admin-active-nav-color) !important;
}
.scout-bg-primary {
    background-color: var(--scout-primary-nav-color) !important;
}
.scout-bg-active {
    background-color: var(--scout-active-nav-color) !important;
}
.scout-bg-hover:hover {
    background-color: var(--scout-active-nav-color) !important;
}
.landmanager-bg-primary {
    background-color: var(--landmanager-primary-nav-color) !important;
}
.landmanager-bg-hover:hover {
    background-color: var(--landmanager-active-nav-color) !important;
}
.landmanager-bg-active {
    background-color: var(--landmanager-active-nav-color) !important;
}
/*--------------------------------------*/
/* classes for the top Arches menu */

/*
.ep-toolbar {
    background: var(--admin-active-nav-color);
    color: #E7E7E8;
}



.ep-graph-title-icon {
    background: transparent;
}
/*--------------------------------------*/
a.ep-tools {
    color: #454545;
}
a.ep-tools:hover {
    text-decoration: none;
}
.ep-graph-title-icon {
    background: #fff;
}

.ep-form-alert {
    height: unset;
}
.etl-manager-tabs {
    height: unset !important;
}
.etl-manager-tab {
    border-top: none;
    border-bottom: none;
}

.main-container {
    min-height:calc(100vh - 40px);
    padding-top: 75px;
}

.auth-options {
    margin-top: 17px;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > div > ul {
    margin-right: 40px;
}

.one-page-header .navbar-nav>li> .fa-chevron-circle-down {
    padding: 0px 0px 0px;
    z-index: 100;
    margin-top: 20px;
}

.navbar-nav>li>a>h3 {
    color: white;
    font-weight:500;
    margin:0px;
    font-size: 1.25em !important;
}

.navbar-default {
    border: none;
}

.one-page-header .navbar-nav>li>a {
    color: #333;
}

@media (min-width: 768px) {
    .one-page-header .navbar-nav>li> .fa-chevron-circle-down {
        color: #eee;
    }
}

@media (max-width: 1000px) {
    .one-page-header .fa-chevron-circle-down {
        padding-left: 12px;
        margin-top: 14px;
    }
    .navbar-nav>li>a>h3 {
        padding: 0px 15px;
    }
}


@media (max-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:left;
        right: 3px;
        list-style: none;
        margin-top: 0px;
        margin-right: -142px;
    }
}

@media (min-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:right;
        right: 3px;
        list-style: none;
        margin-top: 40px;
        margin-right: -142px;
    }
}

.one-page-header .navbar-nav>li>a {
    color: #333;
}

.login-panel {
    width:350px;
    margin-right:auto;
    margin-left:auto;
}

#id_region_choices, #id-site-type-choices, .form-list-multiselect {
    list-style: none;
    padding-top: 10px;
}

.messages {
    list-style: none;
}
.messages .error {
    color: red;
}
.messages .info {
    color: #007fff;
}

.form-control {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-container {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-container-multi {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-choice {
    border: solid 1px #CCC;
}

textarea.form-control {
    height: 125px;
    overflow-x: hidden;
}

input[type='text'] {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border: solid 1px #CCC;
}

/* .copyright-section { */
    /* background: url('../img/fpan/ricepaper.png'); */
/* } */

.copyright-section i.back-to-top {
    top:-15px;
    background: transparent;
}

.fpan-panel, .fpan-panel-anonymous, .fpan-panel-admin {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px var(--admin-primary-nav-color);
}
.fpan-panel-scout, .fpan-panel-hms {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px var(--scout-primary-nav-color);
}
.fpan-panel-landmanager, .fpan-panel-state {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px var(--landmanager-primary-nav-color);
}

.profile-links {
    border: 1px solid var(--admin-primary-nav-color);
    background: rgba(255, 255, 255, 0.4);
}
.profile-links-scout {
    border-color: var(--scout-primary-nav-color);
}
.profile-links-heading-scout {
    color: white;
    background-color: var(--scout-primary-nav-color);
}
.profile-links-landmanager {
    border-color: var(--landmanager-primary-nav-color);
}
.profile-links-heading-landmanager {
    background-color: var(--landmanager-primary-nav-color);
    color: white;
}
.profile-links-admin {
    border-color: var(--admin-primary-nav-color);
}
.profile-links-heading-admin {
    background-color: var(--admin-primary-nav-color);
    color: white;
}

#login-failed-alert {
    background-color: transparent;
    border: none;
}

.state-logos-list {
    display:inline-flex;
    list-style-type: none;
    padding-left: 0px !important;
}

.state-logos-list li {
    margin: 0px 20px;
}

.state-logos-list li img {
    height: 100px;
}

.footer {
    text-align: center;
}

.title-v1 {
    margin-bottom: 0px;
}


.errorlist {
    color:red;
}
.custom-error-page h1 {
    font-family: "Helsing-Regular", "Georgia", serif !important;
    font-size: 3.052em;
}
.rr-splash-description {
    padding-bottom: 20px;
}
.calendar.picker {
    position: relative;
}
.fpan-related-report {
  width: 100%;
}
.fpan-related-report .rp-section-title {
  padding-left: 15px;
}
.fpan-related-report .rp-report-tile {
  padding-left: 95px;
}
.fpan-related-report .rp-report-tile .dl-horizontal dt {
  text-align: left;
  width: 100%;
}
.fpan-related-report a.btn {
  margin-left: 80px;
  margin-top: 10px;
}
/* User profile page elements */
.ep-toolbar-profile {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--admin-primary-nav-color);
    border-bottom: 0px;
    z-index: 3000;
    color: white;
}
.ep-toolbar-profile .ep-tools-login {
    background: var(--admin-primary-nav-color);
    border-bottom: 0px;
    /* border-left: 1px solid #000; */
    color: white;
}
.ep-toolbar-profile .ep-tools-right {
   border-right: none;
   /* border-bottom: 1px solid #000;
   border-left: 1px solid #000; */
   background: var(--admin-primary-nav-color);
   color: #fff;
}
.ep-tools-login-scout, .ep-tools-login-admin, .ep-tools-login-anonymous, .ep-tools-login-landmanager {
    border-color: white;
}
.ep-toolbar-profile-scout {
    background: var(--scout-primary-nav-color);
}
.ep-toolbar-profile-scout .ep-tools-login-scout {
    background: var(--scout-primary-nav-color);
}
.ep-toolbar-profile-scout .ep-tools-right-scout {
    background: var(--scout-primary-nav-color);
}
.ep-toolbar-profile-landmanager {
    background: var(--landmanager-primary-nav-color);
}
.ep-toolbar-profile-landmanager .ep-tools-login-landmanager {
    background: var(--landmanager-primary-nav-color);
}
.ep-toolbar-profile-landmanager .ep-tools-right-landmanager {
    background: var(--landmanager-primary-nav-color);
}

.profile-report-scout {
  padding: 10px 10px 10px 0px;
  background: url('../img/fpan/bedge_muted.png');
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  border-top: solid 8px #F26422;
}
.profile-report-landmanager {
  padding: 10px 10px 10px 0px;
  background: url('../img/fpan/bedge_muted.png');
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  border-top: solid 8px #273675;
}
.profile-list {
    width: 100%;
    padding: 20px 100px;
    min-height: 170px;
    border-bottom: 0px;
}

@media (max-width: 768px) {
    .profile-list {
        padding: 0;
    }
}
.profile-list .panel {
  padding: 20px;
}
.profile-list .scout-panel {
  padding: 0px;
}
.scout-panel .panel-title {
  color: white;
  font-size: 1em;
  margin-top: -1px;
}
.profile-list h1 {
  color: #555;
  font-size: 2.441em;
  font-weight: 400;
}
.profile-list h2 {
  color: #444;
  font-size: 28px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.profile-list h2:after {
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 70px;
  content: " ";
  margin-left: -35px;
  position: absolute;
}
.profile-list h2:after, i.icon-bg-u {
    background: #4765a0;
}
.profile-list .btn-scout {
  background-color: #F26422;
  border-color: #F26422;
}
.profile-list .btn-landmanager {
  background-color: #273675;
  border-color: #273675;
}
.profile-label-shim {
  color: #555;
}

/* applies to scout reports only */
@media print {
  :root {
    --printed-font-size: 0.8rem;
  }

  /* we never want to print backgrounds -- override Chrome print dialog > Options > Background graphics = checked */ 
  *,
  .brand-title /* Chrome ignores this for the brand header, requiring more specificity */
  {
    background: none !important;
    color: black !important;
  }
  
  body {
    font-size: var(--printed-font-size);
  }

  @page {
    margin-inline: 0.75in;
    margin-block: 0.5in;
  }
  
  /* hide for printing */
  #mainnav-container,
  .carousel,
  .ep-toolbar,
  .toggle-container,
  button#scroll-top,
  footer {
    display: none !important;
  }

  /* card sections containing single imgs (results when user selects one image for upload, then clicks "+ Add" button) */
  .rp-card-section[id]:has(.rp-image-grid-item) {
    page-break-inside: avoid;
  }
  
  /* card sections containing multiple images (results when user selects multiple images for upload, then clicks "+ Add" button) */
  .rp-card-section[id]:has(.rp-image-grid-item ~ .rp-image-grid-item) {
    page-break-before: avoid;
  }

  /* add space between images with sibling image */
  .rp-image-grid-item:not(:first-child) {
    margin-top: calc(var(--printed-font-size) * 1);
  }
  
  /* put site logo and brand text into a single row */
  .navbar-header a {
    display: grid;
    grid-template-columns: 1fr 100fr;
    gap: 0 calc(var(--printed-font-size) * 1);

    .brand-title {
      display: flex;
      align-items: center;
    }
  }

  /* align 'Scout Report - <date> - <user>' page title with following headers */
  .report-toolbar-title {
    margin-block: calc(var(--printed-font-size) * 1);
    margin-inline: 0;
  }

  /* split the page/report title and 'Report Date' across the page */
  .report-toolbar-preview.ep-form-toolbar {
    display: flex;
    justify-content: space-between;
  }

  /* increase margins of <hr> */
  .rp-tile-separator {
    margin-block: 1rem;
  }
  
  /* <dt> = field labels */
  dt,
  .rp-tile-title {
    font-weight: bold;
  }

  .rp-tile-title {
    text-decoration: underline;
    font-size: calc(var(--printed-font-size) * 1.15);
  }

  /* force field labels and values onto the same row */
  dl {
    display: grid;
    /* make more room for field values, without causing labels to wrap, which would force the 2nd+ line of the following value to be set too far down */
    grid-template-columns: 1fr 2fr;

    /* match alignment of field labels to web view */
    dt {
      text-align: end;
      grid-column: 1;
    }

    /* when a dt has multiple dd's, ensure all dd's align right */
    dd { grid-column: 2; }

    /* add space between label:value lines */
    dt, dd { margin-bottom: calc(var(--printed-font-size) * 0.8); }
    
    /* keep vertical gap bt rows consistent when the field value is paragraph text instead of text directly inside the <dd> */
    p:first-child { margin-top: 0; }
  }

  /* selects cards containing actual resource data, where the data is an image */
  .rp-card-section[id]:has(img) {
      width: 100%;

      /* make alignment more visually pleasing in cards with images inside, since images are centered and possibly full-width -- decrease label and increase value col widths -- stops values (eg Overview, Unique Feature, <comment>, etc) from looking like there was a failed attempt at centering text */
      dl { grid-template-columns: 1fr 8fr; }
      dt { text-align: start; }
      dd { margin-inline-start: 0; }
  }

  dd:has(img) {
    margin: 0;
    /* make img 100% width of dd that contains it */
    grid-column: 1 / -1;
    /* center the image */
    text-align: center;
    
    /* hide the image files label, buying more vertical space to keep images as large as possible (up to half a page height) */
    margin-top: calc(var(--printed-font-size) * 2.4 * -1);
    background: white;
    z-index: 100;
      
  }

  dd img {
    max-width: 100%;
    max-height: 3.9in;
  }

  /* keeping above in case we decide we want images in the future, but for now, hide all images */
  .rp-card-section:has(img) { display: none; }
}

/*
FIXES:
    - "Hide Null Values" switch overlaps page content
    - Screen width < 768px causes toolbars to overlap image carousel
 */
.report-toolbar-preview.ep-form-toolbar {
    display: flex;
    flex-wrap: wrap; /* stack [scout report h4] and [report date, hide null vals switch] vertically when screen width isn't sufficient */
    justify-content: space-between;
    align-items: start;
}

.ep-form-toolbar-tools.mar-no {
    margin-bottom: -3.5rem !important; /* trim bottom from hide null values switch component */
}

/* ~768px screen width, left toolbar moves to top, pushing down top toolbar -- this keeps the latter from overlapping the page content */
@media (max-width: 768px) {
    .report-toolbar-preview.ep-form-toolbar {
        margin-top: 4.5rem; /* move page content down */
        height: fit-content; /* keep children from overlapping page content */
    }

    .report-toolbar-title {
        width: fit-content !important; /* allow sibling to get close before wrapping under self */
        padding-bottom: 0 !important; /* this and margin-bottom remove excess space between self and sibling when they stack vertically */
        margin-bottom: 0 !important;
    }

    .ep-form-toolbar-tools.mar-no {
        padding-left: 2rem; /* align report date and hide null vals switch with report-toolbar-title */
    }
}

.btn-download-photos {
    position: absolute;
    right: 0;
    z-index: 10;
    margin: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 0.6rem #00000066;
}

.btn-download-photos__icon-wrapper {
    background: #8d89e2;
    padding-inline: 1.6rem;
    padding-block: 1rem;
    margin-right: 1.3rem;
}