@font-face {
  font-family: 'Helsing-Regular';
  src: url("../fonts/Helsing.otf");
}

body, body.body-anonymous, body.body-admin {
    font-family: 'Kreon',sans-serif;
    background: url('../img/fpan/ricepaper.png');
    font-size: 16px;
    line-height: 1.65;
}
body.body-scout, body.body-hms, body.body-hms, .copyright-section-scout {
    background: url('../img/fpan/ricepaper-hms.png');
}
body.body-landmanager, body.body-state, body.body-state, .copyright-section-landmanager {
    background: url('../img/fpan/ricepaper-state.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ropa Sans',sans-serif !important;
    line-height: 1.15;
}

h1, .card-component-panel h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2, .card-component-panel h2 {font-size: 2.441em;}

h3, .card-component-panel h3 {font-size: 1.953em;}

h4, .card-component-panel h4 {font-size: 1.563em;}

h5, .card-component-panel h5 {font-size: 1.25em; font-weight: 400;}

small, .text_small, .nano>.nano-content, .search-type-btn {font-size: 0.8em !important;}

.arches-menu-icon {
    color: white;
}

a, li a, .search-candidate-title, .search-candidate-link, .btn-link, a.a-anonymous, li a.a-anonymous, .search-candidate-title-anonymous, .search-candidate-link-anonymous, .btn-link-anonymous, a.a-admin, li a.a-admin, .search-candidate-title-admin, .search-candidate-link-admin, .btn-link-admin {
    color: #007fff;
    text-decoration: none;
}
.a-scout, li .a-scout, body.body-hms .a-anonymous, .search-candidate-title-scout, .search-candidate-link-scout, .btn-link-scout {
    color: #F26422;
}
.a-landmanager, li .a-landmanager, body.body-state .a-anonymous, .search-candidate-title-landmanager, .search-candidate-link-landmanager, .btn-link-landmanager {
    color: #273675;
}
a:hover, li a:hover, .btn-link:hover, a.a-anonymous:hover, li a.a-anonymous:hover, .btn-link-anonymous:hover, a.a-admin:hover, li a.a-admin:hover, .btn-link-admin:hover {
    color: #0059b3;
    text-decoration: underline;
}
a.a-scout:hover, li a.ascout:hover, .btn-link-scout:hover {
    color: #5ec5b9;
}
a.a-landmanager:hover, li a.landmanager:hover, .btn-link-landmanager:hover {
    color: #525e91;
}
.body-scout .btn-success, .body-hms .btn-success {
    background-color:#f26422;
    border:none;
}
.body-landmanager .btn-success, .body-state .btn-success {
    background-color:#273675;
    border:none;
}
.body-scout .btn-success:hover, .body-hms .btn-success:hover, .body-landmanager .btn-success:hover, .body-state .btn-success:hover  {
    background-color: #449d44;
}
#mainnav-container {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

#mainnav-container, #mainnav, #mainnav-menu>.active, .brand-title-anonymous, .sub-menu-anonymous ul, .brand-title-admin, .sub-menu ul   {
    background: #431825;
    color:white;
}
.brand-title-admin, .mainnav-container-admin, .mainnav-admin, .mainnav-menu-admin>.active, .mainnav-admin .menu-popover, .mainnav-admin .sub-menu ul, .brand-title-anonymous, .mainnav-container-anonymous, .mainnav-anonymous, .mainnav-menu-anonymous>.active, .mainnav-anonymous .menu-popover, .mainnav-anonymous .sub-menu ul  {
    background: #431825 !important;
}
.brand-title-scout, .mainnav-container-scout, .mainnav-scout, .mainnav-menu-scout>.active, .mainnav-scout .menu-popover, .mainnav-scout .sub-menu ul  {
    background: #5ec5b9 !important;
}
.brand-title-landmanager, .mainnav-container-landmanager, .mainnav-landmanager, .mainnav-menu-landmanager>.active, .mainnav-landmanager .menu-popover, .mainnav-landmanager .sub-menu ul  {
    background: url('../img/fpan/ricepaper-state.png') !important;
}

#mainnav .list-header {
    font-family: 'Ropa Sans',sans-serif;
    line-height: 1.15;
    font-size: 1.25em;
    color: white;
}

#mainnav-menu a {
    color: white;
}

#mainnav-menu>li {
    background-color:#431825;
    box-shadow:none !important;
}

#mainnav-menu>li>a:hover, .link-submenu-item-admin a:hover, .link-submenu-item-anonymous a:hover {
    background-color:#5D2134;
    box-shadow:none !important;
    text-decoration: none;
}

#mainnav-menu>li>a {
    background-color:#431825;
    box-shadow:none !important;
    color: white;
}

.mainnav-menu-scout>li {
    background-color:#5ec5b9 !important;
}

.mainnav-menu-scout>li>a {
    background-color:#5ec5b9 !important;
    color: white !important;
}

.mainnav-menu-scout>li>a:hover, .link-submenu-item-scout a:hover {
    background-color:#F26422 !important;
    color: white !important;
    text-decoration: none;
}

.mainnav-menu-landmanager>li {
    background: url('../img/fpan/ricepaper-state.png') !important;
}

.mainnav-menu-landmanager>li>a {
    background: url('../img/fpan/ricepaper-state.png') !important;
    color: white !important;
}

.mainnav-menu-landmanager>li>a:hover, .link-submenu-item-landmanager a:hover {
    background:#273675 !important;
    color: white !important;
    text-decoration: none;
}

.mainnav-anonymous .popover-title, .mainnav-admin .popover-title {
    background-color:#5D2134 !important;
}
.mainnav-scout .popover-title {
    background-color:#F26422 !important;
}
.mainnav-landmanager .popover-title {
    background:#273675 !important;
}

.mainnav-anonymous .single-content, .mainnav-admin .single-content {
    background-color:#5D2134 !important;
    font-family: 'Kreon',sans-serif;
}
.mainnav-scout .single-content {
    background-color:#F26422 !important;
    font-family: 'Kreon',sans-serif;
}
.mainnav-landmanager .single-content {
    background:#273675 !important;
    font-family: 'Kreon',sans-serif;
}

.mainnav-anonymous .hover, .mainnav-admin .hover  {
    background-color:#5D2134;
}
.mainnav-scout .hover {
    background-color:#F26422;
}
.mainnav-landmanager .hover {
    background:#273675;
}
.menu-title {
    font-family: 'Kreon',sans-serif;
}

.navbar-brand, .navbar-brand>img {
    height: 49px;
    margin-right: auto;
    margin-left: auto;
}

.active-sub>a {
    background-color:#5D2134 !important;
}
ul .collapse li {
    height: 35px;
}
ul .collapse li:first-of-type {
    margin-top: 0px;
}
ul .collapse li:last-of-type {
    height: 45px;
}

.link-submenu {
    font-family: 'Kreon',sans-serif;
    color: white;
}

.navbar-header:before {
    background-color: transparent;
}

/*--------------------------------------*/
/* classes for the top Arches menu */

/*
.ep-toolbar {
    background: #5D2134;
    color: #E7E7E8;
}



.ep-graph-title-icon {
    background: transparent;
}
/*--------------------------------------*/
a.ep-tools {
    color: #454545;
}
a.ep-tools:hover {
    text-decoration: none;
}
.ep-graph-title-icon {
    background: #fff;
}

.main-container {
    min-height:calc(100vh-40px);
    padding-top: 75px;
}

.auth-options {
    margin-top: 17px;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > div > ul {
    margin-right: 40px;
}

.one-page-header .navbar-nav>li> .fa-chevron-circle-down {
    padding: 0px 0px 0px;
    z-index: 100;
    margin-top: 20px;
}

.navbar-nav>li>a>h3 {
    color: white;
    font-weight:500;
    margin:0px;
    font-size: 1.25em !important;
}

.navbar-default {
    border: none;
}

.one-page-header .navbar-nav>li>a {
    color: #333;
}

@media (min-width: 768px) {
    .one-page-header .navbar-nav>li> .fa-chevron-circle-down {
        color: #eee;
    }
}

@media (max-width: 1000px) {
    .one-page-header .fa-chevron-circle-down {
        padding-left: 12px;
        margin-top: 14px;
    }
    .navbar-nav>li>a>h3 {
        padding: 0px 15px;
    }
}


@media (max-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:left;
        right: 3px;
        list-style: none;
        margin-top: 0px;
        margin-right: -142px;
    }
}

@media (min-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:right;
        right: 3px;
        list-style: none;
        margin-top: 40px;
        margin-right: -142px;
    }
}

.one-page-header .navbar-nav>li>a {
    color: #333;
}

.login-panel {
    width:350px;
    margin-right:auto;
    margin-left:auto;
}

#id_region_choices, #id-site-type-choices {
    list-style: none;
    padding-top: 10px;
}

.messages {
    list-style: none;
}

.form-control {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-container {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-container-multi {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.select2-choice {
    border: solid 1px #CCC;
}

textarea.form-control {
    height: 125px;
    overflow-x: hidden;
}

input[type='text'] {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border: solid 1px #CCC;
}

/* .copyright-section { */
    /* background: url('../img/fpan/ricepaper.png'); */
/* } */

.copyright-section i.back-to-top {
    top:-15px;
    background: transparent;
}

.fpan-panel, .fpan-panel-anonymous, .fpan-panel-admin {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px #431825;
}
.fpan-panel-scout, .fpan-panel-hms {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px #F26422;
}
.fpan-panel-landmanager, .fpan-panel-state {
    background: url('../img/fpan/bedge_muted.png');
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-top: solid 8px #273675;
}

.scout-panel {
    border: 1px solid #F26422;
    background-color: rgba(255, 255, 255, 0.4);
}
.scout-panel .panel-heading {
    background-color: #F26422;
}

#login-failed-alert {
    background-color: transparent;
    border: none;
}

.state-logos-list {
    display:inline-flex;
    list-style-type: none;
    padding-left: 0px !important;
}

.state-logos-list li {
    margin: 0px 20px;
}

.state-logos-list li img {
    height: 100px;
}

.footer {
    text-align: center;
}
#footer a.a-scout, .body-hms #footer a.a-anonymous {
    color: white;
}
#footer a.a-scout:hover, .body-hms #footer a.a-anonymous:hover {
    color: white;
}
.title-v1 {
    margin-bottom: 0px;
}

.custom-error-page h1 {
    font-family: "Helsing-Regular", "Georgia", serif !important;
    font-size: 3.052em;
}
.rr-splash-description {
    padding-bottom: 20px;
}
.calendar.picker {
    position: relative;
}
