
/* #mainnav-container, #mainnav { */
    /* background: #778c61; */
    /* background: url('../img/fpan/ricepaper-state.png'); */
/* } */

.fpan-panel {
    border-top: solid 8px #273675;
}

body, .copyright-section {
    background: url('../img/fpan/ricepaper-state.png');
}

#mainnav-container, #mainnav {
    background: url('../img/fpan/ricepaper-state.png');
}

#mainnav-menu>li {
    background: url('../img/fpan/ricepaper-state.png') !important;
}

#mainnav-menu>li>a {
    background: url('../img/fpan/ricepaper-state.png') !important;
}

#mainnav-menu>li>a:hover {
    background:#273675 !important;
}

.link-submenu-item {
    background:#273675 !important;
}

.menu-title {
    background:#273675;
}

.popover-title {
    background:#273675 !important;
}

.single-content {
    background:#273675 !important;
}

.hover {
    background:#273675;
}

.btn-success {
    background-color:#273675;
    border:none;
}

a {
    color: #273675;
}
