body, .copyright-section {
    background: url('../img/fpan/ricepaper-state.png');
}

#mainnav-container, #mainnav {
    background: #778c61;
    background: url('../img/fpan/ricepaper-state.png');
    color:#EEEEEE;
}

.fpan-panel {
    border-top: solid 8px #0D6152;
}

.ep-toolbar {
    background: #F4C25C;
}