{% load static %}
{% load i18n %}
<section id="" class="profile-list">
    <div class="panel fpan-panel-{{user_type}}">
        <div class="row" >
            <div class="col-xs-12 col-sm-8" style="padding:0px 10px;">
                {% if profile_content %}
                {{ profile_content|safe }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if user_is_state or user_is_scout %}
                <div style="margin-bottom:20px; text-align:center; border-bottom: solid 1px grey; padding-bottom: 15px;">
                    {% if user_is_state %}
                    <img src="{% static 'img/state/DHR transparent - NO WWW.png' %}" alt="Logo" style="max-width:100%;max-height:140px;">
                    {% endif %}
                    {% if user_is_scout %}
                    <img src="{% static 'img/fpan/HMSflorida_option3long.png' %}" alt="Logo" style="max-width:100%;max-height:140px;">
                    {% endif %}
                </div>
                {% endif %}
                <div class="fpan-panel-{{user_type}} profile-links profile-links-{{user_type}}">
                    <div class="profile-links-heading-{{user_type}}">
                        <div class="panel-title"><i class="fa fa-download" aria-hidden="true"></i>
                            {% trans "Helpful Links" %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul style="padding-left:10px;">
                            {% for link in profile_links %}
                            <li>
                                <a href="{{ link.target }}" target="_blank">{{ link.name }}</a>
                                {% if link.desc %}<p style="margin:0"><em>{{ link.desc }}</em></p>{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>