{% load static %}
{% load i18n %}
<div class="panel panel-bordered scout-panel">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-download" aria-hidden="true"></i>
            {% trans "Helpful Links" %}
        </div>
    </div>
    <div class="panel-body">
        <ul style="padding-left:10px;">
            {% for link in profile_links %}
            <li>
                <a href="{{ link.target }}">{{ link.name }}</a>
                {% if link.desc %}<p style="margin:0"><em>{{ link.desc }}</em></p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
