<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet"> 
    
    <style>
    @font-face {
      font-family: Helsing;
      src: url(Helsing.otf);
    }

    body {
        font-family: 'Kreon',sans-serif;
        background: url('ricepaper.png');
        font-size: 16px;
        line-height: 1.65;
        text-align: center;
    }

    h1 {
        font-family: Helsing,sans-serif;
        font-size: 3em;
        line-height: 1.15;
    }
    
    h2, h3, h4, h5, h6 {
        line-height: 1.15;
    }
    </style>
</head>
<body>
    <h1>Maintenance Time!</h1>
    <h2>The HMS database will be down while upgrades take place on the evening of March 29th.</h2>
    <h2>Please come back tomorrow.</h2>
</body>
</html>