{% autoescape off %}
Hello {{ user.username }}!

Welcome to the HMS Florida Monitoring Database, we're excited to have you! Your HMS Scout ID is {{ user.username }}. You will use your Scout ID to log in to the Database.

To activate your account and verify your email address, please click this link: {{ baseurl }}{% url 'activate_page' uidb64=uid token=token %}

*If the above link is broken or expired, please email hmsflorida@fpan.us for assistance.

Once your account is activated, go back to the Course Portal to complete your training.

Thanks for Signing Up and Welcome Aboard!
{% endautoescape %}
