{% extends "index.htm" %}

{% load staticfiles %}

{% block content %}

<section class="scout-profile-section" style="padding-top: 100px;">

<div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3><strong>{{ user.first_name }} {{ user.scout.middle_initial }} {{ user.last_name }}</strong></h3>

    {% if not scout_profile.ethics_agreement.value %}
    <div class="row">
        <h2 style="color:red">Complete scout registration.</h2>
        <p style="color:red">Please make sure to read and accept the ethics agreement</p>
    </div>
    {% endif %}
    
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in scout_profile %}

        <div class="form-group">

            {% if field.name == "ethics_agreement" %}
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ field.label }}
                    </div>
                    <div class="panel-body">
                        {% include 'fpan/ethics_agreement.htm' %}                     
                        
                        <label for="{{ field.id_for_label }}"
                               class="control-label" 
                               style="color: #555">
                           {{ field }} I have read and will abide by the HMS Florida Code of Ethics and Program Agreement.
                       </label>
                       
                    </div>
                </div>
            </div>
            
            {% elif field.name == "region_choices" %}
            <br>
            <label for="{{ field.id_for_label }}"
                   class="col-sm-3 control-label" 
                   style="color: #555">{{ field.label }}</label>
            <div class="col-sm-3">
                {{ field }}
            </div>
            <div class="col-sm-4">
                <img src="{% static 'img/fpan/FPAN_Regions.png' %}" alt="FPAN Regions" class="img-responsive">
            </div>

            {% else %}

            <label for="{{ field.id_for_label }}"
                   class="col-sm-3 control-label" 
                   style="color: #555">{{ field.label }}</label>
            <div class="col-sm-8">

                {{ field }}
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color:red" > {{ error }} </span>
                    {% endfor %}
                {% endif %}

            </div>

            {% endif %}

        </div>        
        
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

    </form>

</div>

</section>

{% endblock %}

<!-- fields = ('street_address', 'city', 'state', 'zip_code', 'phone', 'background', 'relevant_experience', 'interest_reason', 'site_interest_type', 'region_choices', 'ethics_agreement') -->