<section id="scout-signup" class="scout-signup-section">
    <div class="fpan-panel" style="border-top-color:#5ec5b9;">
        <form action="{% url 'scout_signup' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12"><h2 style="text-align:center">Sign up to be a Heritage Monitoring Scout!</h2></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">

                    {% for field in scout_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}

                        {% if field.help_text %}
                            <small class="help-block">{{ field.help_text }}</small>
                        {% endif %}

                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span style="color:red" > {{ error }} </span>
                            {% endfor %}
                        {% endif %}

                    </div>
                    {% endfor %}
                    <div class="">
                        <button type="submit" class="btn btn-default" id="scout_submit" disabled>Signup</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default" style="margin-top:25px;box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);">
                        <div class="panel-heading">
                            Ethics Agreement
                        </div>
                        <div class="panel-body">
                            {% include 'fpan/ethics_agreement.htm' %}                     
                        </div>
                        <div class="panel-footer">
                            <label for="ethics_agreement"
                                   class="control-label" 
                                   style="color: #555"
                                   id="label-for-ethics">
                                <input type="checkbox" 
                                       id="ethics_agreement" 
                                       onclick="ethics_check(this)">
                                I have read and will abide by the HMS Florida Code of Ethics and Program Agreement.
                           </label>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</section>
<br>

<script type="text/javascript">

    var submitBtn = document.getElementById("scout_submit");

    function ethics_check(check) {
        if(check.checked == true) {
            submitBtn.disabled = false;
            return
        }
        submitBtn.disabled = true;
        document.getElementById("label-for-ethics").style.color = "red";
    }
    
</script>