<section id="scout-signup" class="scout-signup-section">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h2>Register as a scout.</h2>
            <form action="{% url 'scout_signup' %}" method="post">
                {% csrf_token %}

                {% for field in scout_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small class="help-block">{{ field.help_text }}</small>
                    {% endif %}

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span style="color:red" > {{ error }} </span>
                        {% endfor %}
                    {% endif %}

                </div>
                {% endfor %}

                <button type="submit" class="btn btn-default">Signup</button>
            </form>
        </div>
    </div>
</section>